@-webkit-keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

@keyframes bounce {
    0%,to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}

.animate-none {
    -webkit-animation: none;
    animation: none
}

.animate-spin {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite
}

.animate-ping {
    -webkit-animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
    animation: ping 1s cubic-bezier(0,0,.2,1) infinite
}

.animate-pulse {
    -webkit-animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
    animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite
}

.animate-bounce {
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite
}

.animate-float {
    -webkit-animation: floating 3s ease-in-out infinite;
    animation: floating 3s ease-in-out infinite
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0)
    }

    65% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(-0px)
    }
}

@keyframes floating {
    0% {
        transform: translate(0)
    }

    65% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(-0px)
    }
}


.home-container {
    /* background-image: url('./assets/bg.png');
    background-repeat: repeat; */
    /* z-index: 100; */
}

.blue-bg{
    background-image: url('./assets/bg.png');
    background-repeat: repeat;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}